:root { scroll-behavior: auto !important; }

body {
	background:#181817;
	/* margin:0; */
	font-family:sans-serif;
	color:#333;
  overflow: hidden;
}

.header_sect {
	width:100%;
	height:100vh;
	background:#181817;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav_wrap {
	display: flex;
	flex-direction: row;
}

.navi img {
	width: auto;
	height: 100%;
	padding-right: 10px;
}

ul {
	display: flex;
	flex-direction: row;
  position: fixed;
  list-style-type: none;
  /* right: -10px; */
  padding: 0;
  /* max-width: fit-content; */
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(to bottom #181817, #1F201B) ;
}
ul  li {
	margin-left: auto;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #262520;
	border-bottom-left-radius: 23px;
	border-top-left-radius: 23px;
}

#img {
	padding-top: 2.5vh;
	padding-left: 2.5vw;
}

#username{
	padding-top: 2.5vh;
}

.spacer_bottom {
	width:100%;
	height:50vh;
	background:grey;
}

.spacer_0 {
	width: 100%;
	height: 100vh;
}

.spacer_1 {
	width: 100%;
	height: 50vh;
}


.gallery h1 {
	font-size:3rem;
	color: white;
}

.gallery p {
	font-size:1rem;
	line-height:1.4;
	color: white;
}


.gallery {
  display:flex;
  /* outline:1px solid red; */
	margin-bottom: 50ox;
}

.left {
	width:50%;
}

.right {

	/* outline:1px solid purple; */
	width:70%;

}

.desktopContent {
	margin:auto;
	width:80%;
}

.desktopContentSection {
	min-height:150vh;
	/* outline:1px solid green; */
	display:flex;
	flex-direction:column;
	justify-content:center;
}


.desktopPhotos {
	width:60vw;
	height:40vw;

	position:relative;
	overflow:hidden;

}

.desktopPhotos2 {
	width:60vw;
	height:40vw;

	position:relative;
	overflow:hidden;

}

.desktopPhoto {
	position:absolute;
	width:100%;
	height:100%;
	margin-left: auto;
}

.desktopPhoto img {
	width: 100vh;
}


.b {
	left: -200px;
}

.a {
	opacity: 0;
}
.b {
	opacity: 0;
}
.c {
	opacity: 0;
}
.d {
	opacity: 10;
}

/* Join section */

#Join {
	height: 100vh;
	width: 100%;

}

#apply-div {
	margin-bottom: 25vh;
}

.apply {
	position: relative;
	left : 10vw;
	padding-top: 10vh;
	align-items: flex-start;
	font-size: 4rem;
	opacity: 100;
	width: fit-content;
}


.join_page {
	display: flex;
	justify-content: center;
	align-items: center;
}

#join_us {
	text-decoration: none;
	color: white;
	border-style: solid;
	border-radius: 2.5px;
	border-color: white;
	background-color: white;
	border-radius: ;
}

#join_us {
	color: black;
}

.page_wrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 25vh;

}

#page_temp {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
	height: 50vh;
	width: 50vw;
	background-color: #C0C0C0;
	border-radius: 30px;
}

.app_h {
	padding-top: 2.5vh;
	padding-left: 10%;
	padding-bottom: 2.5vh;
	border-bottom: solid 15px black;
}
.app_info {
	display: flex;

}


.username {
	padding-top: 4vh;
	margin-left: 10%;
	text-decoration: underline;
}
#Email {
	padding-top: 4vh;
	margin-left: 25%;
	text-decoration: underline;
}

#who {
	padding-top: 7.5vh;
	margin-left: 10%;

}

#about {
	width: 60%;
	margin-left: 10%;
	margin-right: 50%;
	padding-top: 2.5vh;
	padding-bottom: 5vh;
	color: #333;
}


