:root { scroll-behavior: auto !important; }

body {
	background:#181817;
	/* margin:0; */
	font-family:sans-serif;
	color:#333;
}

#navi {
	position: abs;
}

header {
	width:100%;
	height:100vh;
	background:#181817;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.spacer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15vh;
	height: 100vh;
	color: white;
	opacity: 65%;
}

#scroll_down {
	margin-top: 5vh;
}

#scroll_part{
	display: flex;
	flex-direction: row;
}

#arrow{
	position: relative;
	height: 100%;
	width: 3vw;
	animation: ld-arrow 2500ms ease-in-out infinite;
}
@keyframes ld-arrow {
	0% {
		top: 2.5vh;
	}

	50%{
		top: 4vh;
	}

	75% {
		top:2.5vh;
	}

	100% {
		top: 2.5vh;
	}
}


.spacer_bottom {
	width:100%;
	height:50vh;
	background:grey;
}

.spacer_0 {
	width: 100%;
	height: 100vh;
}

.spacer_1 {
	width: 100%;
	height: 50vh;
}


.gallery h1 {
	font-size:3rem;
	color: white;
}

.gallery p {
	font-size:1rem;
	line-height:1.4;
	color: white;
}


.gallery {
  display:flex;
  /* outline:1px solid red; */
	margin-bottom: 50ox;
}

.left {
	width:50%;
}

.right {

	/* outline:1px solid purple; */
	width:70%;

}

.desktopContent {
	margin:auto;
	width:80%;
}

.desktopContentSection {

	/* outline:1px solid green; */
	display:flex;
	flex-direction:column;
	justify-content:center;
}


.desktopPhotos {
	width:60vw;
	height:40vw;

	position:relative;
	overflow:hidden;

}

.desktopPhotos2 {
	width:60vw;
	height:40vw;

	position:relative;
	overflow:hidden;

}

.desktopPhoto {
	position:absolute;
	width:100%;
	height:auto;
	margin-left: auto;
}

.desktopPhoto img {
	width: 100%;
	height: auto;
}


.b {
	left: -200px;
}

.a {
	opacity: 0;
}
.b {
	opacity: 0;
}
.c {
	opacity: 0;
}
.d {
	opacity: 10;
}

/* Join section */

#Join {
	/* height: 100vh; */
	width: 100%;

}

#apply-div {
	margin-bottom: 15.078rem ;
}

.apply {
	position: relative;
	left : 10vw;
	padding-top: 6.031rem;
	align-items: flex-start;
	font-size: 4rem;
	opacity: 100;
	width: fit-content;
}


.join_page {
	display: flex;
	justify-content: center;
	align-items: center;
}

#join_us {
	text-decoration: none;
	color: white;
	border-radius: 20px;
	background-color: white;
	padding-top: .5vh;
	padding-bottom: .5vh;
	padding-left: 2vh;
	padding-right: 2vh;
	margin: 10vw;

}

#join_us:hover {
	background-color: #A0A0A0;
}

#join_us {
	color: black;
}


